body {
    font-family: 'Poppins', sans-serif;
}

.head-bg {
    width: 100%;
    background: #F0FFF0;
}

#top-banner {
    height: 491px;
    width: 100%;
    background: #F0FFF0;
}

.logo {
    width: 198.07px;
    height: 59px;
}

.button-style {
    padding: 12px 28px;
    width: 110px;
    height: 43px;
    background: #21B573;
    border: none;
    border-radius: 33px;
    color: white;
}

.nav-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 15px;
    color: #000000;
}

.top-text p:first-child {
    color: #FD511A;
}

.text-mute {
    color: #6C6B6B;
}

.top-text h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
}

.top-text span {
    color: #21B573;
}

.btn-extra {
    width: 153px;
    height: 43px;
}

.img-s {
    width: 66px;
    height: 85px;
}

.box {
    width: 270px;
    height: 270px;
    background: #F8FFFB;
    border-radius: 10px;
}

.custom-box {

    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#courses {
    margin-top: 80px;
}

#courses h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #413960;
    text-align: center;
}

.course-btn {
    padding: 8px 20px;

    width: 137px;
    height: 35px;

    background: #21B573;
    border-radius: 33px;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    border: none;
}

.card-footer {
    border-top: none;
}

.card-img-size {
    width: 24px;
    height: 24px;
}

.card-footer p {
    margin-bottom: 0 !important;
}

.card-footer {
    background: white;
    margin-top: 20px;
}

#testimonial {
    margin-top: 80px;
}

#testimonial h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    text-align: center;
}

.test-img {
    width: 120px;
    height: 120px;
}

.testi-text {
    width: 580px;
}